.App {
  font-family: sans-serif;
  text-align: center;
}

li {
  cursor: pointer;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li {
  float: left;
}
li h5 {
  display: block;
  color: black;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  margin: 0;
}

li h5:hover {
  background-color: rgb(165, 164, 164);
}

